* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: avenir next;
}

.nav_bar{
    width: 100%;
    height: 60px;
    background-color: lightpink;
}

.nav_bar .secciones{
    display: flex;
    text-align: center;
    line-height: 60px;
}

.nav_bar .secciones h4{
    flex: 1;
}

.hero{
    padding: 60px;
    width: 100%;
    height: 350px;
    background-size: 100%;
    background-color: bisque;
    text-align: center;
}

.title{
    color: chocolate;
}

.text{
    background-color: bisque;
    color: darkslategrey;
}