* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: avenir next;
}

.portafolio{
    background-color: white;
    height: 900px;
    

}


.bloque{
    background-color: black;
    height: 200px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.modelos{
    color: white;
}

.modelos_fotos{
    overflow: hidden;
}

.modelos_fotos img {
    width: auto;
    height: 100%;
}